.nav-menu__item {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--second-family);
    transition: color var(--transition-speed) ease;
    opacity: 0.66;
}

.nav-menu__item:hover {
    opacity: 1;
}